# .env.runtime.example

ConnectionStrings__Db=Host=db;Port=5432;Database=stripe_webhooks_dotnet;Username=postgres;Password=postgres
Serilog__WriteTo__1__Args__serverUrl=http://seq:80
ASPNETCORE_URLS=http://0.0.0.0:7020
ASPNETCORE_ENVIRONMENT=Development

Stripe__SecretKey=sk_test_...
Stripe__WebhookSecret=whsec_...
Stripe__SkipSignatureValidation=false
